#### List
- mutal (can be change)

In [3]:
bio_data = ['Qasim', 'Trainer', '9to12']

In [4]:
bio_data

['Qasim', 'Trainer', '9to12']

#### Tuples
- immutable (can't be change)

In [5]:
tp_bio_data = ('Qasim', 'Trainer', '9to12')

In [6]:
type(tp_bio_data)

tuple

In [11]:
lst = [1]
print(type(lst))

tp = (1,)
print(type(tp))

<class 'list'>
<class 'tuple'>

In [12]:
tp_bio_data[1]

'Trainer'

In [17]:
tp_bio_data.count('Qasim')

1

In [15]:
tp_bio_data.index('Qasim')

0

In [19]:
persona_bio = ('Dawood', 19, '5.7 feet', 19)
print(persona_bio.index(19))
print(persona_bio.count('Dawood'))

1
1

#### Loops

In [21]:
fruits = ['Apple', 'Mango', 'Grapes', 'Banana']
fruits

['Apple', 'Mango', 'Grapes', 'Banana']

In [24]:
fruits[0], fruits[1]

('Apple', 'Mango')

In [ ]:
'''
for <temp_var> in <iterator>:
    <body>
'''

In [25]:
for fruit in fruits:
    print(fruit)

Apple
Mango
Grapes
Banana

In [26]:
for data in bio_data:
    print(data)

Qasim
Trainer
9to12

In [32]:
em_fruits = enumerate(fruits)

In [36]:
print(list(em_fruits))
# [(0, 'Apple'), (1, "Mango"), (2, "Grapes"), (3, "Banana")]

TypeError: 'list' object is not callable

In [39]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apple is at 0
Mango is at 1
Grapes is at 2
Banana is at 3

In [48]:
# 1. make sure index should be in sequence
# 2. if the index list greate than the list of collection
# then paried tuples will be printed
fruits_index = [2,1,4,3,5] 
print(fruits_index)
fruits

[2, 1, 4, 3, 5]

['Apple', 'Mango', 'Grapes', 'Banana']

In [50]:
for data in zip(fruits_index, fruits):
    print(data[0])

2
1
4
3

In [52]:
for temp in range(5):
    print(temp)

0
1
2
3
4

In [53]:
for temp in range(2, 5):
    print(temp)

2
3
4

In [54]:
'''
stop (exclusive) by step. range(i, j)
>> produces i, i+1, i+2, ..., j-1.

range(stop) -> range object range(start, stop[, step]) -> range object
'''

for temp in range(2, 5, 2):
    print(temp)

2
4

In [55]:
for temp in range("Apple", 15):
    print(temp)

TypeError: 'str' object cannot be interpreted as an integer

In [61]:
for i in range(5):
    print('apple')

apple
apple
apple
apple
apple

####

In [60]:
print("Apples\n"*5)

Apples
Apples
Apples
Apples
Apples

In [66]:
group_A = ['Karachi', 'Lahore', 'Islamabad']
group_B = []

In [71]:
user_input = input("Enter your Home City for Criket Matach: ")

if user_input in group_A:
    print("Your city is already in group_A")
else:
    group_B.append(user_input)

In [72]:
group_B

['Multan', 'Quetta', 'Peshawar']

In [73]:
group_A

['Karachi', 'Lahore', 'Islamabad']

In [74]:
for a in range(len(group_A)):
    for b in range(len(group_B)):
        print(group_A[a], '  VS  ', group_B[b])
        if group_A[a] == group_B[b]:
            print("Matched")
            break

Karachi   VS   Multan
Karachi   VS   Quetta
Karachi   VS   Peshawar
Lahore   VS   Multan
Lahore   VS   Quetta
Lahore   VS   Peshawar
Islamabad   VS   Multan
Islamabad   VS   Quetta
Islamabad   VS   Peshawar

#### Casing 

- upper()
- lower()
- title()

NOTE: they all can be applied on string dtype()

In [75]:
"qasim".upper()

'QASIM'

In [76]:
'QASIM'.lower()

'qasim'

In [77]:
"qasim".title()

'Qasim'

#### Dictionaries: How to code one
- key:value

In [78]:
dict = {'age': 15,
        'weight': 15}

In [79]:
print(type(dict))

<class 'dict'>

In [80]:
dict['age']

15

In [81]:
customer = {"first name": "David",
            "last name": "Elliott",
            "address": "4803 Wellesley St."}

In [82]:
customer['address']

'4803 Wellesley St.'

In [85]:
# 1- Keys can be a number 
dict_versitality1 = {1: "Qasim",
                    2: "Hassan",
                    3: "Khan"}

In [86]:
dict_versitality1[2]

'Hassan'

In [88]:
# 2- Values can be a number 
dict_versitality2 = {"Qasim":1,
                    "Hassan":2,
                    "Khan":3}

In [89]:
dict_versitality2['Hassan']

2

In [90]:
# 2- Keys & Values both can be a number in single dict
things_to_remember = {0: "the lowest number",
                      "a dozen": 12,
                      "snake eyes":"a pair of ones",
                      13:"a baker's dozen"}

In [92]:
# add valeus in dictionaries
customer["phone"] = "+92312345678"

In [93]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678'}

In [94]:
customer['city'] = 'Karachi'

In [95]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678',
 'city': 'Karachi'}

In [97]:
dictionary = {}
taskCount = input("How many tasks you want to do today?: ")
for count in range(int(taskCount)):
    dictionary['Task '+str(count)] = input("Enter your task: ")
dictionary

{'Task 0': 'Read', 'Task 1': 'write'}

In [99]:
customer['city'] = "LA"

In [100]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678',
 'city': 'LA'}

In [101]:
del customer['phone'] # to delete phon from dict

In [102]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'LA'}

In [107]:
# looping on dictionaries
# 1. By defualt keys & also with .keys() method
# 2. for Values we should use .values() method
# 3. for both keys & values we should use .items() method
for temp in customer.keys():
    print(temp)

first name
last name
address
city

In [105]:
for temp in customer.values():
    print(temp)

David
Elliott
4803 Wellesley St.
LA

In [110]:
for key, value in customer.items():
    print(key, "--> ", value)

first name -->  David
last name -->  Elliott
address -->  4803 Wellesley St.
city -->  LA

In [113]:
## list of dictionaries

list_of_dict = [
    {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
    {'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
    {'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}
]

In [124]:
customer1 = list_of_dict[0]
print(customer1)
address_customer1 = customer1['address']
print(address_customer1)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
4803 Wellesley St.

In [120]:
# for list  => Index
# for dict => key
for i in range(len(list_of_dict)):
    print(list_of_dict[i]['address'])

4803 Wellesley St.
Near SMIT
Johar town